* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.navbar-brand {
    margin-left: 10px;
}
.bot-line {
    box-shadow: 0px 1px 15px -1px rgba(0,0,0,0.75);
}
.blogs {
    margin-top: 20px;
    height: 500px;
    width: 100%;
}
.whitel {
    float: left;
    width: 80%;
    margin: 0;
}
.card {
    margin: 30px 2%;
    max-height: 250px;
    width: 250px;
    float: left;

}
.userint {
    border-top-left-radius: 40px;
    float: right;
    width: 20%;
    height: 800px;
    background-color: rgba(191, 191, 191, 0.172);
}
.user {
    position: relative;
    display: block;
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    width: 40%;
    top: 50%;
}