* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgba(248, 149, 0, 0.22);
}
.dropdown-menu {
    min-width: 222px;
}
.navbar-brand {
    margin-left: 10px;
}
.navbar {
    z-index: 10;
    width: 100%;
}
.blogs {
    display: inline-block;
    margin-top: 20px;
    margin-left: 20px;
    margin-bottom: 10px;
    width: 70%;
    padding-top: 60px;
}
.list-group-item {
    margin-bottom: 10px;
}
.logint {
    margin-right: 10px;
}
/*
.userint {
    float: right;
    width: 20%;
    text-align: center;
    z-index: 99;
}
.user {
    margin-left: auto;
    text-align: center;
    margin-right: auto;
    width: 40%;
    top: 50%;
}
*/